<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>房屋出租系统</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    <div class="xh-main">
        <div class="t-box">
            开发本系统就是为了解决物业管理企业在房屋租赁信息管理中的一些不规范，使房屋租赁信息的管理向着规范化、简单化、有效化的方向发展。
        </div>
        <div class="t-box">
            本系统仅用于期末课程设计
        </div>
    </div>
</body>
<link rel="stylesheet" type="text/css" th:href="@{css/xh.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/xhico.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/linkstyles.css}" />
<link rel="stylesheet" th:href="@{https://www.jq22.com/jquery/font-awesome.4.7.0.css}">
<script th:src="@{js/jquery.js}" type="text/javascript"></script>
<script th:src="@{js/xh.js}" type="text/javascript"></script>
<script th:src="@{js/main.js}" type="text/javascript"></script>
</html>