<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房屋出租系统</title>
</head>
<body>
<div class="xh-main">
    <h2 style="text-align: center">用户信息表</h2>
    <div style="width: 60%;margin-left: 13%">
        <form role="form" class="form-horizontal" th:each="user:${users}" style="margin-left: 25%">
            <div class="form-group">
                <h6>用户信息</h6>
                <input type="text" class="form-control" id="user" name="user_number"
                              th:value="${user.user_number}" disabled style="text-align: center">
                <h6>用户密码</h6>
                <input type="text" class="form-control" name="user_password"
                              th:value="${user.user_password}" disabled style="text-align: center">
                <h6>用户名</h6>
                <input type="text" class="form-control" name="user_name"
                              th:value="${user.user_name}" disabled style="text-align: center">
                <h6>邮箱</h6>
                <input type="text" class="form-control" name="user_mail"
                          th:value="${user.user_mail}" disabled style="text-align: center">
                <h6>电话</h6>
                <input type="text" class="form-control" name="user_mail"
                       th:value="${user.user_phone}" disabled style="text-align: center">
                <label class="radio-inline"><input type="radio" checked>用户</label>
                <label class="radio-inline"><input type="radio" disabled>管理员</label>
            </div>
        </form>
    </div>
</div>
</body>
<link rel="stylesheet" type="text/css" th:href="@{css/xh.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/xhico.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/linkstyles.css}" />
<link rel="stylesheet" th:href="@{https://www.jq22.com/jquery/font-awesome.4.7.0.css}">
<link rel="stylesheet" th:href="@{https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css}">
<script th:src="@{js/jquery.js}" type="text/javascript"></script>
<script th:src="@{js/xh.js}" type="text/javascript"></script>
<script th:src="@{js/main.js}" type="text/javascript"></script>
</html>